<div id="user-<%=member_id%>" data-controller="remove-member" class="flex border-r-2 border-green-200" style="margin-top:30px;">
  <% if user.avatar.attached? %>
    <%= cl_image_tag avatar, width: 40, height: 40, crop: "fill",cloud_name: "dwuggpa4l", class: "rounded-full mr-2", style: "
    border-radius: 50%;
    border-color: peachpuff;
    border-width: 2px;" %>
  <%else%>
    <%= image_tag "default-user.png", width: 40, height: 40, crop: "fill",cloud_name: "dwuggpa4l", class: "rounded-full mr-2", style: "
    border-radius: 50%;
    border-color: peachpuff;
    border-width: 2px;" %>
  <%end%>
  <%if can_remove%>
    <p data-action="click->remove_member#lmao" class="text-2xl mt-2" style="min-width: 110px"><%=truncate(name, length: 13) %></p>
    <%=link_to group_group_membership_path(id: member_id,group_id: group_id), data: {action: "remove_member#lmao", remove_member_form_params: "user-#{member_id}"}, method: :delete, class: "remove-user ml-4 mt-2", style: "
      margin-left: 15px;
      margin-top: 9px;
    " do %>
      <i data-action="click->remove_member#lmao" class="fa-thin fa-x"></i>
    <% end %>
  <%else%>
    <p data-action="click->remove_member#lmao" class="text-2xl mt-2" style="min-width: 140px"><%= truncate(name, length: 13) %></p>
  <%end%>
</div>
