<%= form_with(model: [group,post], data: {controller: "emoji-picker"}) do |form| %>
  <div style="margin-left: 25px;margin-top: 30px; width: 90%;">
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="flex" styles="margin-left: 10px;">
      <%= form.text_field :title, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" , style: "width: 100%;"  %>
    </div>
    
    <div class="flex" style="margin-top: 10px; height: 200px;">
      <%= form.text_area :content, size: "78x600", class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"%>
    </div>
    <%= form.hidden_field :group_id, value: group.id %>
    <div class="flex justify-end" style="justify-content: flex-end;">
      <div class="inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700" style="margin-top:15px;">
        <%= form.submit %>
      </div>
  </div>
  </div>
<% end %>