<%= form_with(model: [group,post, comment, new_comment]) do |form| %>
  <div id="post-edit" style="margin-left: 25px;margin-top: 30px; width: 90%; margin-bottom: 50px" data-clubs-my-value="<%= comment.id %>">
    <% if comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 
    
    <% form.hidden_field  :parent_id, value: parent %>
    <% form.hidden_field  :post_id, value: post.id %>
    <div class="flex" style="margin-top: 10px; height: 200px;">
      <%= form.text_area :content, placeholder: "Write your comment...", size: "78x600", class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"%>
    </div>
    <div class="flex justify-end" style="justify-content: flex-end;">
      <div class="inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700" style="margin-top:30px;">
        <%= form.submit%>
      </div>
  </div>
  </div>
<% end %>