<div class="flex flex-col">
  <div class="flex">
    <div class="flex flex-col basis-3/5 ml-24" style="margin-left: 100px;">
      <div class="flex">
        <div class="ml-6 ">
          <h1 id="title" class="font-bold text-3xl"><%= @group.title %></h1>
        </div>
        <div class="mt-2 ml-2">
          <%= link_to edit_group_path(@group.id),data: { turbo_frame: 'modal' } do%>
            <i class="fa-solid fa-gear fa-lg"></i>
          <%end%>
        </div>
      </div>
      <div>
        <%= render(PostFormComponent.new(group: @group, post: @group.posts.build))%>
      </div>
    </div>
    <div class="flex flex-col basis-2/5 h-full align-center" style="align-items: center;">
      <div class="flex justify-center py-4 px-6 border-b-2 border-green-400 w-2" style="width: fit-content;border-color: rgb(220 252 231);">
        <h1 class="text-3xl">Members</h1>
      </div>
      <%= render(MemberComponent.with_collection(@group.users, group: @group))%>
    </div>
  </div>
  <div class="flex flex-col mt-6">
    <%if !@group.posts.empty?%>
      <h1 class="font-bold text-3xl" style="margin-left: 130px; margin-top: 20px;">All Posts</h1>
      <%= render(PostComponent.with_collection(@group.ordered_posts))%>
    <%else%>
      <div style="margin-left: 130px; margin-top: 20px;">
        <%= render(EmptyBoxComponent.new(title: "No Posts"))%>
      </div>
    <%end%>
  </div>
</div>