<div>
  <div class="mr-2 whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900", style= "
    margin-right: 5px; width: 55%; margin-left: 130px; margin-top: 20px;">
    <%= link_to '<- Back', group_path(@post.group) %>
  </div>
  <%= render(PostComponent.new(post: @post, show: true, user: current_user))%>
  <h1 class="font-bold text-3xl" style="margin-left: 130px; margin-top: 20px;">Comments</h1>
  <%unless @post.comments.not_replies.empty?%>
    <%=render(CommentComponent.with_collection(@post.comments.not_replies,user: @current_user))%>
  <%else%>
    <div style="margin-left: 130px; margin-top: 20px;">
      <%= render(EmptyBoxComponent.new(title: "No comments to show"))%>
    </div>
  <%end%>
  <div style= "
    margin-right: 5px; width: 55%; margin-left: 130px; margin-top: 20px;">
    <%= render(CommentFormComponent.new(group: @post.group, post: @post, comment: @post.comments.build))%>
  </div>
<div>